* {
    border: none;
    /* border-radius: 15; */
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
    font-size: 16px;
    min-height: 0;
    margin: 0;
    padding: 0;
    min-width: 10px;
}

window#waybar {
    background: rgba(20, 20, 20, 0.8); /* Not 0, but not 1 */
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces {
  min-width: 0;
  margin: 20px;
  transition: all 0.3s ease-in-out;
}
#workspaces button {
    /* padding: 5 8px;
    margin: 0 2px; */
    margin-top: 10px;
    min-width: 0;
    min-height: 0;
    border-radius: 20px;
    background: linear-gradient(180deg, grey, white);
    color: transparent;
    transition: all 0.3s ease-in-out;


    /* background: #42424a;
    border-radius: 10px;
    */
}

#workspaces button.active{
  background: linear-gradient(180deg, gray, white);
  color: transparent;
  transition: all 0.3s ease-in-out;
  font-size: 13px;
  border-radius: 9999px;
  min-height: 80px;

}

#clock {
  /* margin-bottom: 10px; */
  /* background: #414149;
  border-radius: 15px;
  */
  margin-top: 10px;
  color: whitesmoke;
  font-size: 25px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

#battery {
  margin-bottom: 20px;
  font-size: 15px;
  /* background: #42424a;
  border-radius: 15px;
   */
}

#pulseaudio{
  margin-bottom: 15;
  font-size: 15px;
  /* padding: 0 10px;
  margin-left: 5px; */
  /* background: #42424a;
  border-radius: 15px;
   */
}

#network{
  margin-bottom: 15;
  font-size: 15px;
  /* padding: 0 10px; */
  /* background: #42424a;
  border-radius: 15px;
   */
}
